
.Top {
    position: relative;
    height: 100vh;
    width: 100vw;
    max-width: inherit;
}

.Top-image {
    height: inherit;
    object-fit: cover;
    object-position: center;
    background: 
        linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%),
        url(../assets/images/main.jpg) no-repeat center center/cover;
}

/* invitation */
.Top-invitation-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 22px;
}
.Top-invitation {
    font-family: Zapfino;
    font-size: 8px;
    line-height: 2.75;
    letter-spacing: 3.05px;
    color: #f9ecec;
}

.Top-line {
    width: 4px;
    height: 1px;
    color: white;
    border: 1px white;
}


  /* 텍스트 영역 */
.Top-text-box {
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 56vh;
}

.Top-title {
    font-family: NanumMyeongjo;
    color: #f9ecec;
    font-size: 40px;
}

.Top-sub-title {
    color: #f9ecec;
    font-family: NanumMyeongjo;
    font-size: 27px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 12px;
}

.Top-desc {
    color: #FFFFFF;
    font-family: NotoSansKR;
    font-size: 14px;
}

.Top-save-button {
    width: 176px;
    height: 42px;
    margin-top: 34px;
    padding: 11px 41px;
    font-family: NotoSansKR;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: transparent;
    border: solid 1px white;
}

.Top-save-button:hover {
    text-decoration: underline;
}