.Intro {
    text-align: center;
    padding-bottom: 0;
}

.Intro-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.2rem;
}

.Intro-photo {
    width: 31rem;
    height: auto;
}

.Intro-desc-content {
    font-weight: 300;
}

.Intro-desc-content+.Intro-desc-content {
    margin-top: 4.0rem;
}

.Intro-baemin-avatar {
    width: 100%;
    margin-top: 1.1rem
}