.Intro {
    text-align: center;
}

.Intro-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 32px;
}

.Intro-photo {
    width: 31rem;
    height: auto;
    margin: 0 5px;
}

.Intro-desc-title {
    object-fit: contain;
    font-family: NanumMyeongjo;
    font-size: 26px;
    font-weight: 800;
    color: #d18f8f;
}

.Intro-desc-content {
    font-family: NotoSansKR;
    font-size: 14px;
    font-weight: 300;
    color: #323232;
    margin-top: 12px;
    margin-bottom: 40px;
}

.Intro-desc-family {
    font-family: NotoSansKR;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #323232;
}

.Intro-baemin-avatar {
    width: 100%;
    margin-top: 11px
}