.Location {
    padding-left: 21px;
    padding-right: 21px
}

.Location-title {
    margin-bottom: 16px;
}

.Location-map-container {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 60%;
}

.Location-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 주소 */
.Location-address-container {
    display: flex;
    margin-top: 0.8rem;
    margin-bottom: 2.0rem;
    align-items: center;
}

.Location-address-container p {
    font-family: NotoSansKR;
    font-size: 1.6rem;
    color: #323232;
    flex: 1;
    margin-right: 2.1rem;
}

.Location-address-container img {
    width: 4.4rem;
    height: 4.4rem;
}

.Location-address-container a+a {
    margin-left: 1.2rem;
}

.Location-address-button {
    height: fit-content;
    width: fit-content;
    padding: 4px 10px;
    background-color: #7d7d7d;
    font-family: NotoSansKR;
    font-size: 13px;
    text-align: center;
    color: #fff;
    margin-left: 3px;
}


/* 상세내용 */
.Location-info-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 0.8rem;
}

.Location-info-title {
    font-family: NotoSansKR;
    font-size: 1.4rem;
    color: #323232;
}

.Location-info-content {
    font-family: NotoSansKR;
    font-size: 1.4rem;
    color: #7b7b7b;
}
