.Navbar {
    position:-webkit-sticky;
    position:sticky;
    top:0;
    background: white;
    width: 100%;
    text-align: center;
    height: 3.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 10;
}

.Navbar-items {
    padding: 0;
    font-family: NotoSansKR;
    font-size: 1.6rem;
}

.Navbar-items li {
    list-style: none;
    display: inline-block;
}

.Navbar-items li + li {
    margin-left: 20px;
}

.Navbar-items li a {
    color: #323232;
    text-decoration: none;
    position: relative;
}

.Navbar li a.active {
    font-weight: bold;
}

.Navbar-items li a::after {
    width: 0;
    content: "";
    height: 3px;
    background-color: #e2c1c1;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
}

.Navbar-items li a.active::after {
    width: 100%;
}