.PhotoGallery {
    background-color: #f9ecec;
    text-align: center;
    margin-top: -4px;
    padding: 63px 23px 112px 23px;
}

.PhotoGallery-title {
    color: #d18f8f;
    font-size: 26px;
    font-family: NanumMyeongjo;
    font-weight: bold;
    margin-bottom: 12px;
}