.Account {
    padding: 4.6rem 2.0rem 0rem 2.0rem
}

.Account h1 {
    font-size: 2.0rem;
    margin-bottom: 1.6rem;
}

.Account main {
    display: grid;
    grid-template-columns: 6.2rem 1fr 6.2rem;
    row-gap: 6px;
    grid-template-areas: 
        "title-a    account-a   copy-a"
        ".          account-b   copy-b"
        "title-b    account-c   copy-c"
        ".          account-d   copy-d";
}

.Account-title {
    font-family: NotoSansKR;
    font-size: 14px;
    color: #323232;
}

.Account-info {
    font-family: NotoSansKR;
    font-size: 14px;
    color: #7b7b7b;
}

.Account-copy {
    font-family: NotoSansKR;
    font-size: 14px;
    color: #7b7b7b;
    display: flex;
align-items: center;
justify-content: right;
    
}