.Account {
    padding-left: 2.1rem;
    padding-right: 2.1rem;
}


.Account main {
    display: grid;
    grid-template-columns: 6.2rem 1fr 6.2rem;
    row-gap: 0.8rem;
    grid-template-areas: 
        "title-a    account-a   copy-a"
        ".          account-b   copy-b"
        "title-b    account-c   copy-c"
        ".          account-d   copy-d";
}

.Account-title {
    font-family: NotoSansKR;
    font-size: 1.4rem;
    color: #323232;
}

.Account-info {
    font-family: NotoSansKR;
    font-size: 1.4rem;
    color: #7b7b7b;
}

.Account-copy {
    font-family: NotoSansKR;
    font-size: 1.4rem;
    color: #7b7b7b;
    display: flex;
    align-items: center;
    justify-content: right;
    text-decoration: underline;
}