.Cong {
    background: #f9ecec;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Cong-card {
    width: 34.8rem;
    height: 17.8rem;
    background: white
}

.Cong-photo {
    width: 13rem;
    height: 19.4rem;
}

/* 혼주 */
.CongParent-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.2rem;
    column-gap: 7.0rem;
}

.CongParent-grid h1 {
    font-size: 2.2rem;
    margin-bottom: 0;
}