.CongParent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CongParent a {
    height: 100%;
}

.CongParent header {
    font-size: 1.6rem;   
    color: #323232;
    font-family: AppleSDGothicNeo-Light;
    margin-bottom: 0.4rem;
}

.CongParent main {
    display: flex;
}

.CongParent-img-wrap {
    width: 2.2rem;
    height: 2.2rem;
    padding: 0.9rem;   
    display: flex;
    justify-content: center; 
    align-items: center;
}

.CongParent-img-wrap img {
    width: 100%;
    height: auto;
}