.App {
  max-width: 640px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 이미지 */
.Together-image {
  width: 100%;
  height: 58.4rem;
  background: 
      /* linear-gradient(rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 100%), */
      url(./assets/images/location/group-6.png) no-repeat center center/cover;
}

h1 {
  font-family: NanumMyeongjo;
  font-size: 2.8rem;
  font-weight: 800;
  color: #d18f8f;
  text-align: center;
  padding-bottom: 2.0rem;
  margin: 0;
}

h2 {
  font-family: NanumMyeongjo;
  font-size: 2.2rem;
  font-weight: 800;
  color: #d18f8f;
  text-align: center;
  padding-bottom: 2.0rem;
  margin: 0;
}

.App-text {
  font-size: 1.6rem;
  font-family: NotoSansKR;
  color: #323232;
}

.App-sub-text {
  font-family: NotoSansKR;
  font-size: 1.4rem;
  color: #7b7b7b;
}

.App-section {
  padding: 3.6rem 0 7.0rem 0;
}


/* FONT */
@font-face {
  font-family: 'NotoSansKR';
  src: local(''),
       url('./assets/fonts/notoSansKr-regular.woff') format('woff');
}

@font-face {
  font-family: 'NanumMyeongjo';
  src: local(''),
       url('./assets/fonts/NanumMyeongjo.woff') format('woff');
}

@font-face {
  font-family: 'Zapfino';
  src: local(''),
       url('./assets/fonts/Zapfino.ttf') format('truetype');
}