.App {
  max-width: 640px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 이미지 */
.Together-image {
  width: 100%;
  height: 58.4rem;
  background: 
      /* linear-gradient(rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 100%), */
      url(./assets/images/location/group-6.png) no-repeat center center/cover;
}

h1 {
  font-family: NanumMyeongjo;
  font-size: 26px;
  font-weight: bold;
  color: #d18f8f;
  text-align: center;
  margin: 0 0 2.0rem 0;
}