@import "~react-image-gallery/styles/css/image-gallery.css";

html {
  /* rem 사용하기 위함. 390px 기준으로 1rem = 10px이 되게 설정. */
  font-size: 2.57vw; 
}

@media (min-width: 640px) {
  html { font-size: 16px; }
}

body {
  /* 전체 기본 폰트 사이즈 wlwjd. */
  font-size: 1.6rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
  font-family: NanumMyeongjo;
  font-size: 26px;
  font-weight: bold;
  color: #d18f8f;
  text-align: center;
  margin: 0;
}